{% extends 'main/base.html.twig' %}
{% block body %}

    <h1>
        {{ title }}
    </h1>

    <h2>Список пользователей</h2>
    <ul>
        {% for user in users %}
        <li>
            {{ user.email }}, {{ user.roles | json_encode }}
        </li>
        {% endfor %}
    </ul>

{% endblock %}