{% extends 'main/base.html.twig' %}
{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>

{% endblock %}
{% block body %}

    <div class="container center">
        <div class="stripe-container">
            <form class="stripe-form" id="payment-form">
                <div id="card-element"><!--Stripe.js injects the Card Element--></div>
                <button class="stripe-button" id="submit">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Donate</span>
                </button>
                <p id="card-error" role="alert"></p>
                <p class="result-message hidden">
                    Payment succeeded, see the result in your
                    <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                </p>
            </form>
        </div>
    </div>

{% endblock %}