.banner-block {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding: 160px 0;

  &__about-us {
    background-image: url("../img/about.jpg");
  }

  &__prayer {
    background-image: url("../img/prayer.jpg");
  }
}