.text-block {
  padding-top: 145px;
  padding-bottom: 130px;
}

.text-block h3 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0;
  color: black;
}

.text-block p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 46px;
  margin-top: 24px;
  color: black;
}